<div class="col-12">
  <div class="row text-center">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <% @products.each do |product|%>
        <div class="card">
          <img class="card-img-top img-fluid"><%= image_tag product.photos.first.image %></img>
          <div class="card-block">
              <h4 class="card-title"><%= product.breed %></h4>
              <p class="card-text"><%= product.description %></p>
          </div>
          <div class="card-footer">
            <div class='btn btn-primary'><%= link_to "Details", product_path(product) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
