<div class="album text-muted">
      <div class="container">

        <div class="row">
          <% @products.each do |product|%>

          <% if product.photos.any?%>
            <% product.photos.each do |photo| %>
            <%= image_tag photo.image %>
            <%end%>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
